.payment-success-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.payment-success-content {
  background-color: #f8f9fa;
  height: 25vh;
  margin-top: 25vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-details {
  margin-top: 20px;
}

.payment-details p {
  margin-bottom: 10px;
}
